body{
   font-family: Arial, Helvetica, sans-serif
}
.head_style{                                                                                    

    background-color:#008fb3;
    color: #000000;
    font-size:20px;
    text-align: center;
    margin: 20px 0 20px 0;
    overflow: hidden;
    width:100%;
}
.row_table
{
    background-color: #e6faff;
    color: #000000;
    font-size:18px;
    text-align: center;
    margin: 20px 0 20px 0;
    overflow: hidden;
    width:100%;
}
.details_area{

    font-size:18px;
    overflow: hidden;
    margin: 20px 0 20px 0;
    text-align: left;
    
 }
 
 
 